@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}
.App {
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}
/* App.css */
.banner {
  background-image: url('../public/banner-bg.jpg');
}

.bannerContent {
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-around;
}

.tagline {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

/* App.css */
.row {
  background-color: #16171a;
  cursor: pointer;
}

.row:hover {
  background-color: #131111;
}

.row .MuiTableCell-root {
  font-family: Montserrat;
}

.pagination .MuiPaginationItem-root {
  color: gold;
}
/* Carousel.css */


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.container-coin {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}

@media (max-width: 960px) {
  .container-coin {
    width: 100%;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
  }
}
/* app.css */
.selectbutton {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  width: 22%;
}

.selectbutton.selected {
  background-color: gold;
  color: black;
  font-weight: 700;
}

.selectbutton:hover {
  background-color: gold;
  color: black;
}
